.rental-affordability-calculator 											{  }
.rental-affordability-calculator label										{ display:block; margin:0; padding:0; margin-bottom:4px; }
.rental-affordability-calculator input[type='text'],
.rental-affordability-calculator select  									{ display:block; color:#333; font-size:16px; box-sizing:border-box; padding:6px 7px; width:100%; background-color:#FFF; margin:0; margin-bottom:10px; }
.rental-affordability-calculator button 									{ background:#333; font-size:15px; color:#FFF; border:0; box-sizing:border-box; padding:10px 28px; }
.rental-affordability-calculator .rental-affordability-calculator-results 	{ padding-top:15px; }